# Entorno virtual
.venv/

# Cachés Python
__pycache__/
*.pyc

# Variables de entorno
.env

# Tests
.pytest_cache/

# Cobertura
.coverage

# Reportes generados
reports/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store